<div class="todo-app">
  <h1>Lista de Tareas</h1>
  <div class="add-task">
    <!--   <div class="toggle"> -->
    <input [(ngModel)]="inputText" type="text" />
    <button
      mat-raised-button
      color="primary"
      (click)="newTaskBtn(this.inputText)"
    >
      Agregar
    </button>
  </div>
  <!--</div> -->
  <ul id="taskList">
    <!-- Las tareas se agregarán dinámicamente aquí -->
  </ul>

  <div class="container">
    <div>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let data of this.apiService.dataTask; let i = index"
        >
          {{ data.task }}
          <div class="button-list">
            <button (click)="deleteTaskBtn(data.id)">eliminar</button>
            <button (click)="this.popupService.openPopup(data.id, data.task)">
              Editar
            </button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div *ngIf="this.popupService.isOpen$ | async">
  <app-edit></app-edit>
</div>
