<h1 class="title">TODO Task</h1>

<div class="container">
  <div>
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let data of this.apiService.dataTask; let i = index"
      >
        {{ data.task }}
        <button (click)="deleteTaskBtn(data.id)">eliminar</button>
        <button (click)="this.popupService.openPopup(data.id, data.task)">
          Editar
        </button>
      </li>
    </ul>
  </div>
</div>
<div class="toggle">
  <input [(ngModel)]="inputText" type="text" />
  <button (click)="newTaskBtn(this.inputText)">Agregar</button>
</div>

<div *ngIf="this.popupService.isOpen$ | async">
  <app-edit></app-edit>
</div>
